[submodule ".registry"]
	path = .registry
	url = https://github.com/greta-dev/greta-dev.r-universe.dev
	branch = HEAD
[submodule "greta"]
	path = greta
	url = https://github.com/greta-dev/greta
[submodule "greta.distributions"]
	path = greta.distributions
	url = https://github.com/greta-dev/greta.distributions
[submodule "greta.dynamics"]
	path = greta.dynamics
	url = https://github.com/greta-dev/greta.dynamics
[submodule "greta.gam"]
	path = greta.gam
	url = https://github.com/greta-dev/greta.gam
[submodule "greta.gp"]
	path = greta.gp
	url = https://github.com/greta-dev/greta.gp
[submodule "greta.hmm"]
	path = greta.hmm
	url = https://github.com/greta-dev/greta.hmm
